<a href="https://colab.research.google.com/github/JulietaRomanelli/Shortest-Path/blob/main/Script_TP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Primero, cargo el csv con las distancias para cada padron.

In [1]:
!gdown --id 1QkA4rSNXeJCfE4Lj59aAzjB9N_wEVQHN
import pandas as pd
df = pd.read_csv("datos.csv")
del df["Unnamed: 0"]
df

/usr/local/lib/python3.7/dist-packages/gdown/cli.py:131: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  category=FutureWarning,
Downloading...
From: https://drive.google.com/uc?id=1QkA4rSNXeJCfE4Lj59aAzjB9N_wEVQHN
To: /content/datos.csv
100% 809/809 [00:00<00:00, 1.19MB/s]

,x12,x13,x14,x25,x26,x32,x34,x36,x46,x47,x58,x65,x67,x68,x78
0,2328,649,1750,947,1465,538,740,2114,1055,1388,757,935,957,1706,1211
1,2257,1369,2259,738,1175,1338,609,1651,1130,907,976,798,1043,2475,1220
2,1546,948,2206,1419,837,1284,830,2097,981,1396,1159,1096,1310,2258,709
3,2305,1241,2117,1149,1032,1157,1430,1969,1293,539,787,1181,945,2453,1435
4,2484,844,2003,1238,781,1142,1370,1564,570,908,1448,1241,569,1966,673
5,1876,662,2060,562,704,596,811,1798,1198,943,562,778,1245,2300,788
6,1834,933,1675,596,1326,904,744,2261,777,935,685,837,774,1794,1276
7,1690,1089,1582,549,680,588,718,2412,1113,1432,681,1272,509,2206,1200
8,2477,1169,1916,945,1243,951,1080,2429,545,537,893,623,1473,2238,936
9,1987,1023,1800,517,1142,1216,902,2225,563,909,1403,1290,1476,2377,917

De ese data frame, me quedo unicamente con las que corresponden a mi padron, que son las de la fila del 3.

In [2]:
weight = df.iloc[3]
weight

x12      2305
 x13     1241
 x14     2117
 x25     1149
 x26     1032
 x32     1157
 x34     1430
 x36     1969
 x46     1293
 x47      539
 x58      787
 x65     1181
 x67      945
 x68     2453
 x78     1435
Name: 3, dtype: int64

In [3]:
import networkx as nx
import matplotlib.pyplot as plt
g = nx.Graph()

g.add_edge(1,2,weight=weight[0])
g.add_edge(1,3,weight=weight[1])
g.add_edge(1,4,weight=weight[2])
g.add_edge(2,5,weight=weight[3])
g.add_edge(2,6,weight=weight[4])
g.add_edge(3,2,weight=weight[5])
g.add_edge(3,4,weight=weight[6])
g.add_edge(3,6,weight=weight[7])
g.add_edge(4,6,weight=weight[8])
g.add_edge(4,7,weight=weight[9])
g.add_edge(5,8,weight=weight[10])
g.add_edge(6,5,weight=weight[11])
g.add_edge(6,7,weight=weight[12])
g.add_edge(6,8,weight=weight[13])
g.add_edge(7,8,weight=weight[14])


nodos = nx.shortest_path(g,source=1,target=8,method='dijkstra', weight = 'weight')
print(f'El camino mas corto es aquel que pasa por los nodos {nodos}')
distance = nx.shortest_path_length(g,source=1,target=8,method='dijkstra', weight = 'weight')
print(f"La distacia recorrida es de {distance}")

El camino mas corto es aquel que pasa por los nodos [1, 4, 7, 8]
La distacia recorrida es de 4091